.line {
    fill: none;
    stroke: #1792E5;
    stroke-width: 1.5;
}

.end-pointer {
    fill: #1792E5;
}

.end-pointer-text {
    fill: #1792E5;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';
}

.x-axis .domain {
    stroke: #fff;
    stroke-dasharray: 2, 8;
    stroke-width: 2;
}

.x-axis text {
    fill: #fff;
    stroke-width: 0;
    text-anchor: middle;
}

.x-axis line {
    stroke-width: 0;
}

/* tooltip */
.overlay {
    fill: none;
    pointer-events: all;
    cursor: pointer;
}
  
.focus circle {
    fill: #1792E5;
}

.focus text {
    fill: #fff;
    text-anchor: middle;
}