@font-face {
    font-family: 'Honeywell Cond Web_Bold Italic';
    src:    url('HoneywellCondWeb-BoldItalic.eot');
    src:    url('HoneywellCondWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-BoldItalic.woff') format('woff'),
            url('HoneywellCondWeb-BoldItalic.woff2') format('woff2'),
            url('HoneywellCondWeb-BoldItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Book';
    src:    url('HoneywellCondWeb-Book.eot');
    src:    url('HoneywellCondWeb-Book.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-Book.woff') format('woff'),
            url('HoneywellCondWeb-Book.woff2') format('woff2'),
            url('HoneywellCondWeb-Book.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Book Italic';
    src:    url('HoneywellCondWeb-BookItalic.eot');
    src:    url('HoneywellCondWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-BookItalic.woff') format('woff'),
            url('HoneywellCondWeb-BookItalic.woff2') format('woff2'),
            url('HoneywellCondWeb-BookItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Extrabold';
    src:    url('HoneywellCondWeb-Extrabold.eot');
    src:    url('HoneywellCondWeb-Extrabold.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-Extrabold.woff') format('woff'),
            url('HoneywellCondWeb-Extrabold.woff2') format('woff2'),
            url('HoneywellCondWeb-Extrabold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Extrabold Italic';
    src:    url('HoneywellCondWeb-ExtraboldItalic.eot');
    src:    url('HoneywellCondWeb-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-ExtraboldItalic.woff') format('woff'),
            url('HoneywellCondWeb-ExtraboldItalic.woff2') format('woff2'),
            url('HoneywellCondWeb-ExtraboldItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Light';
    src:    url('HoneywellCondWeb-Light.eot');
    src:    url('HoneywellCondWeb-Light.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-Light.woff') format('woff'),
            url('HoneywellCondWeb-Light.woff2') format('woff2'),
            url('HoneywellCondWeb-Light.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Light Italic';
    src:    url('HoneywellCondWeb-LightItalic.eot');
    src:    url('HoneywellCondWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-LightItalic.woff') format('woff'),
            url('HoneywellCondWeb-LightItalic.woff2') format('woff2'),
            url('HoneywellCondWeb-LightItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Medium';
    src:    url('HoneywellCondWeb-Medium.eot');
    src:    url('HoneywellCondWeb-Medium.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-Medium.woff') format('woff'),
            url('HoneywellCondWeb-Medium.woff2') format('woff2'),
            url('HoneywellCondWeb-Medium.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Cond Web_Medium Italic';
    src:    url('HoneywellCondWeb-MediumItalic.eot');
    src:    url('HoneywellCondWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellCondWeb-MediumItalic.woff') format('woff'),
            url('HoneywellCondWeb-MediumItalic.woff2') format('woff2'),
            url('HoneywellCondWeb-MediumItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Honeywell Sans Cyr Web_Bold';
    src:    url('HoneywellSansCyrWeb-Bold.eot');
    src:    url('HoneywellSansCyrWeb-Bold.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansCyrWeb-Bold.woff') format('woff'),
            url('HoneywellSansCyrWeb-Bold.woff2') format('woff2'),
            url('HoneywellSansCyrWeb-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Cyr Web_Bold Italic';
    src:    url('HoneywellSansCyrWeb-BoldItalic.eot');
    src:    url('HoneywellSansCyrWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansCyrWeb-BoldItalic.woff') format('woff'),
            url('HoneywellSansCyrWeb-BoldItalic.woff2') format('woff2'),
            url('HoneywellSansCyrWeb-BoldItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Cyr Web_Book';
    src:    url('HoneywellSansCyrWeb-Book.eot');
    src:    url('HoneywellSansCyrWeb-Book.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansCyrWeb-Book.woff') format('woff'),
            url('HoneywellSansCyrWeb-Book.woff2') format('woff2'),
            url('HoneywellSansCyrWeb-Book.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Cyr Web_Book Italic';
    src:    url('HoneywellSansCyrWeb-BookItalic.eot');
    src:    url('HoneywellSansCyrWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansCyrWeb-BookItalic.woff') format('woff'),
            url('HoneywellSansCyrWeb-BookItalic.woff2') format('woff2'),
            url('HoneywellSansCyrWeb-BookItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'Honeywell Sans Web_Black';
    src:    url('HoneywellSansWeb-Black.eot');
    src:    url('HoneywellSansWeb-Black.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-Black.woff') format('woff'),
            url('HoneywellSansWeb-Black.woff2') format('woff2'),
            url('HoneywellSansWeb-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Black Italic';
    src:    url('HoneywellSansWeb-BlackItalic.eot');
    src:    url('HoneywellSansWeb-BlackItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-BlackItalic.woff') format('woff'),
            url('HoneywellSansWeb-BlackItalic.woff2') format('woff2'),
            url('HoneywellSansWeb-BlackItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Bold';
    src:    url('HoneywellSansWeb-Bold.eot');
    src:    url('HoneywellSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-Bold.woff') format('woff'),
            url('HoneywellSansWeb-Bold.woff2') format('woff2'),
            url('HoneywellSansWeb-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Bold Italic';
    src:    url('HoneywellSansWeb-BoldItalic.eot');
    src:    url('HoneywellSansWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-BoldItalic.woff') format('woff'),
            url('HoneywellSansWeb-BoldItalic.woff2') format('woff2'),
            url('HoneywellSansWeb-BoldItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Book';
    src:    url('HoneywellSansWeb-Book.eot');
    src:    url('HoneywellSansWeb-Book.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-Book.woff') format('woff'),
            url('HoneywellSansWeb-Book.woff2') format('woff2'),
            url('HoneywellSansWeb-Book.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Book Italic';
    src:    url('HoneywellSansWeb-BookItalic.eot');
    src:    url('HoneywellSansWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-BookItalic.woff') format('woff'),
            url('HoneywellSansWeb-BookItalic.woff2') format('woff2'),
            url('HoneywellSansWeb-BookItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Extrabold';
    src:    url('HoneywellSansWeb-Extrabold.eot');
    src:    url('HoneywellSansWeb-Extrabold.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-Extrabold.woff') format('woff'),
            url('HoneywellSansWeb-Extrabold.woff2') format('woff2'),
            url('HoneywellSansWeb-Extrabold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Extrabold Italic';
    src:    url('HoneywellSansWeb-ExtraboldItalic.eot');
    src:    url('HoneywellSansWeb-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-ExtraboldItalic.woff') format('woff'),
            url('HoneywellSansWeb-ExtraboldItalic.woff2') format('woff2'),
            url('HoneywellSansWeb-ExtraboldItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Light';
    src:    url('HoneywellSansWeb-Light.eot');
    src:    url('HoneywellSansWeb-Light.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-Light.woff') format('woff'),
            url('HoneywellSansWeb-Light.woff2') format('woff2'),
            url('HoneywellSansWeb-Light.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Light Italic';
    src:    url('HoneywellSansWeb-LightItalic.eot');
    src:    url('HoneywellSansWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-LightItalic.woff') format('woff'),
            url('HoneywellSansWeb-LightItalic.woff2') format('woff2'),
            url('HoneywellSansWeb-LightItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Medium';
    src:    url('HoneywellSansWeb-Medium.eot');
    src:    url('HoneywellSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-Medium.woff') format('woff'),
            url('HoneywellSansWeb-Medium.woff2') format('woff2'),
            url('HoneywellSansWeb-Medium.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Medium Italic';
    src:    url('HoneywellSansWeb-MediumItalic.eot');
    src:    url('HoneywellSansWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
            url('HoneywellSansWeb-MediumItalic.woff') format('woff'),
            url('HoneywellSansWeb-MediumItalic.woff2') format('woff2'),
            url('HoneywellSansWeb-MediumItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
