<div class="col-xs-9 max-height no-padding">
  <app-globe-carousel></app-globe-carousel>
</div>
<div class="col-xs-3 max-height platform-container">
  <app-platform-carousel></app-platform-carousel>
</div>

