<div class="row">
  <div class="col-sm-12 text-white no-padding">
    <h2 class="subHeader">
      Platform Maturity
    </h2>
  </div>
</div>
<div class="row-fluid">
  <div *ngFor="let platform of platformUtilization; let i = index" style="margin-bottom: 2.5vh">
    <div class="row">
      <h5 class="platform-label" [ngStyle]="{'color':platform.currentState === 'Warning' ? '#FFC627' : '#fff' }">
        <i class="fa fa-exclamation-circle" aria-hidden="true" *ngIf="platform.currentState == 'Warning'"></i>
        {{platform.platformName}}

        <div class="unit-right pull-right" style="text-align:right">
          <h2 *ngIf="!checkDecimals(platform)" class="progress-label" appCountup [endVal]="platform.currentUtilization" duration="0.5"
            [style.fontSize.px]="progressFontSize" [style.marginTop.px]="progressFontTop"></h2>
          <h2 *ngIf="checkDecimals(platform)" class="progress-label" appCountup [endVal]="platform.currentUtilization" duration="0.5"
            decimals="1" [style.fontSize.px]="progressFontSize" [style.marginTop.px]="progressFontTop"></h2>
          <sup class="progress-unit" *ngIf="!isNull(platform.platformUnit)">{{platform.platformUnit}}</sup>
        </div>
      </h5>
    </div>
    <div class="row white-space">
      <div class="col-xs-12">
        <div class="progress thin-progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width':platform.percentage + '%'}"></div>
        </div>
        <h6 style="text-align:right" class="plan-text">{{platform.maxUtilization}} {{platform.planStatus}}</h6>
      </div>
    </div>    
    <div class="row" *ngIf="sbgWiseProducts.length && i === 0">
      <div class="prod-chip" *ngFor="let prod of sbgWiseProducts">
        <span class="prod-label">{{prod.sbgName}} : </span><span class="prod-value">{{prod.sbgValue}}</span>
      </div>
    </div>
  </div>
</div>