.circle {
    text-align: center;
    font-size: x-large;
    background-color: #303030;
    border-radius: 50%;
    padding: 5px;
}

.release-text {
    color: #fff;
    padding-top: 20px;
}

.thin-progress {
    height: 12px;
    border-radius: 8px;
    background-color: #303030;
}

.plan-text {
    /* margin-left: 95%; */
    text-align: right;
    color: #fff;
    margin-top: -15px;
}

.progress-label {
    color: #1792E5;
    margin-top: -10px;
    margin-left: -8px;
    display: inline-block;
}

.progress-unit {
    color: #1792E5;
    top: -.8em;
}

.white-space {
    padding-top: 0;
    padding-bottom: 0;
}

.unit-right {
    position: relative;
    right: 15px;
}

.platform-label {
    padding-left: 20px;
}

.subHeader {
    text-align: center;
    font-size: 20px;
    margin-top: 10px !important;
    margin-bottom: 30px;
}

.min-view {
    color: #1792E5;
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
    .line {
        margin-bottom: 2.5vh;
    }
    .platform-label {
        font-size: 14px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
    .thin-progress {
        height: 12px;
        border-radius: 8px;
        background-color: #303030;
    }
    .unit-right {
        position: relative;
        right: 12px;
    }
    .platform-label {
        padding-left: 20px;
    }
    .row-fluid {
        padding-left: 2px;
    }
    .circle {
        text-align: center;
        font-size: 10px;
        background-color: #303030;
        border-radius: 50%;
        padding: 5px;
    }
    .progress-unit {
        color: #1792E5;
        top: -.8em;
        white-space: nowrap;
    }
    .plan-text {
        /* margin-left: 270px; */
        color: #fff;
        margin-top: -15px;
        /* white-space: nowrap; */
    }
}


/* product live chip */

.prod-chip {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    border-left: 1px solid #333;
}

.prod-chip:first-child {
    border: none;
    padding-left: 20px;
}

.prod-chip .prod-label {
    color: #fff;
}

.prod-chip .prod-value {
    color: #1792E5;
}