/* You can add global styles to this file, and also import other style files */
$color-success: #00FF7F;
$color-warning: #FFC627;
$color-danger: #ff4527;
$color-disable: #888888;
$color-info: #1792E5;

html, body {
    @extend .max-height;
    background-color: black !important;
    font-family: "Honeywell Sans Web_Medium" !important;
}

.max-height {
    height: 100%;
}

.text-white {
    color: #fff;
}

.no-padding {
    padding: 0 !important;
}

.stat-info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-left: 5%;
}

.stat-info h1 {
    display: inline-flex;
}

.stat-info sup {
    font-size: 18px;
    top: -1.2em;
}

.summary {
    padding-left: 0 !important;

    i {
        font-size: 1.5em;
        margin-right: 10px;
        margin-left: 2px;
    }
}

.high-pixels {
    font-size: 40px;
    margin-bottom: 0;
}

.rectangle {
    // background-color: rgba(100, 100, 100, 0.5);
    padding-left: 14px;
    color:  #fff;
    font-size: large;
}

.feed-tiles {
    margin-top: 20px;
    margin-right: 50px;
    width: 250px;
    height: 80px;
    z-index: 2;
}

.tile1 {
    background: #000;
    padding: 3px 5px;
    width: 100%;
    color: #fff;
    margin: 2px;
}

.tile2 {
    background: linear-gradient(to bottom, #000, #222);
    padding: 3px 5px;
    width: 100%;
    color: #fff;
    margin: 2px;
    opacity: 0.6;
}

.tile3 {
    background: linear-gradient(to bottom, #222, transparent);
    padding: 3px 5px;
    width: 100%;
    color: #fff;
    margin: 2px;
    opacity: 0.6;
}

// carousel styles
.slide-selectors {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
}

.slide-selectors > * {
    width: 65px;
    height: 6px;
    background-color: rgba(255,255,255,.5);
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.slide-selectors .active {
    background-color: #fff;
}

.status-success {
    color: $color-success !important;
}
.status-warning {
    color: $color-warning !important;
}
.status-danger {
    color: $color-danger !important;
}
.status-disable {
    color: $color-disable !important;
}
.status-info {
    color: $color-info !important;
}

.status-bg-success {
    background-color: $color-success !important;
}
.status-bg-warning {
    background-color: $color-warning !important;
}
.status-bg-danger {
    background-color: $color-danger !important;
}
.status-bg-disable {
    background-color: $color-disable !important;
}

.subHeader
{
    margin-right: 0px;
    font-size: 48px;
}

.subHeader > .logo {
    font-family: 'britannic bold' !important;
    font-weight: bold;
}

.subHeader > .logo-img {
    margin-top: -1%;
    margin-right: -2%;
}

#inverseImg
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

// globe popover
.pop {
    position: absolute;
    right: 30px;
    color: #fafafa;
}

.pop > b {
    color: #737373;
}

.material-dropdown {
    position: relative;
    width: 150px;
    margin: 20px 0;

    .label {
        padding: 0;
        color: $color-info;
    }

    button {
        background: transparent !important;
        border: none !important;
        border-bottom: 1px solid rgb(58, 58, 58) !important;
        border-radius: 0 !important;
        color: #c3c3c3 !important;
        outline: 0 !important;
        width: 100%;
        text-align: left;
        padding: 0;

        .caret {
            position: absolute;
            right: 3px;
            bottom: 10px;
            font-family: FontAwesome;
            border: none;         
            width: 10px;
            height: 10px;

            &:before {
                content: "\f107"
            }
        }
    }

    .dropdown-menu {
        background-color: #222 !important;
        width: 150px !important;
        min-width: 100px !important;   

        li {
            width: 100% !important;
            cursor: pointer;
        }

        a {
            color: #c3c3c3 !important;
            padding-left: 13px !important;

            &:hover {
                background-color: rgba(128, 128, 128, 0.3) !important;
            }
        }
    }
}

.stat-filter {
    padding-left: 5% !important;
    position: absolute !important;
    bottom: 210px;
}

@media only screen and (min-width: 760px) and (max-width: 1024px)
{
    .min-view {
        font-size: 12px;
    }
    .subHeader{
        font-size: 26px;
    }
    .high-pixels {
        display: inline-flex;
        font-size: 27px;
     }

     .slide-selectors > * {
        width: 45px;
    }

    .stat-info h1 {
        font-size: 25px;
    }
    
    .min-view {
        font-size: 12px;
     }
     .plat-view{
         font-size: 20px;
     }
     .feature-view{
         font-size: 12px;
        position: relative;
        bottom: 5px;
     }
     .line{
         display: inline-flex;
     }
}

@media only screen and (min-height: 1080px) and (max-height: 2160px) {
    .plat-view{
        font-size: 35px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1500px) {
    .subHeader{
        font-size: 50px !important;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    .subHeader{
        font-size: 57px !important;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2400px) {
    .subHeader{
        font-size: 68px !important;
    }
}

@media only screen and (min-width: 2400px) and (max-width: 3000px) {
    .subHeader{
        font-size: 85px !important;
    }
}

@media only screen and (min-width: 3000px) and (max-width: 4000px) {
    .high-pixels {
       font-size: 90px;
    }
    
    .rectangle{
        font-size: 50px;
    }
    
    .subHeader{
        font-size: 95px !important;
    }
}

@media only screen and (max-width: 760px) {
    .slide-selectors > * {
        width: 30px;
    }

    .stat-info h1 {
        font-size: 18px;
    }
}