<div class="col-xs-12 max-height">
  <div>
    <app-platform-utilization *ngIf="activeSlide === 0"></app-platform-utilization>
    <app-platform-status *ngIf="activeSlide === 1"></app-platform-status>
  </div>
  <div class="slide-selectors">
    <div (click)="enableSlide(0)" [ngClass]="{'active': activeSlide === 0}"></div>
    <div (click)="enableSlide(1)" [ngClass]="{'active': activeSlide === 1}"></div>
  </div>
</div>
