<div class="globe" appGlobe [options]="globeOptions" [data]="globeData"></div>
<div class="text-white">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <span class="subHeader">Sentience Operations Center</span>
        </div>
    </div>
    <div class="stat-filter">
        <div class="material-dropdown dropdown">
            <span class="label">SBG</span>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedBu || businessUnits[0]}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a *ngFor="let bu of businessUnits" (click)="onBuChange(bu)">{{bu}}</a>
                </li>
            </ul>
        </div>
        <div class="material-dropdown dropdown">
            <span class="label">REGION</span>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedRegion.name || regions[0].name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a *ngFor="let reg of regions" (click)="onRegionChange(reg)">{{reg.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="zoom-buttons btn-group-vertical" role="group">
        <button type="button" class="btn" (click)="zoomOut()">+</button>
        <button type="button" class="btn" (click)="zoomIn()">-</button>
    </div>
    <div class="row stat-info">
        <div class="vertical-line"></div>
        <div class="col-xs-6 stat-box" *ngFor="let summary of deviceSummary">
            <h1 *ngIf="isNull(summary.units)" class="high-pixels" appCountup [endVal]="summary.value" duration="0.5"></h1>
            <h1 *ngIf="!isNull(summary.units)" class="high-pixels" appCountup [endVal]="summary.value" duration="0.5" decimals="1"></h1>
            <sup class="min-view" *ngIf="!isNull(summary.units)">{{trimUnit(summary.units)}}</sup>
            <div class="trend-indicator" *ngIf="summary.trend != undefined" [ngClass]="{'status-success': summary.trend > 0, 'status-danger': summary.trend < 0, 'status-info': summary.trend === 0}">
                <i *ngIf="summary.trend != 0" class="fa" [ngClass]="{'fa-caret-up': summary.trend > 0, 'fa-caret-down': summary.trend < 0}"></i>
                <span *ngIf="summary.trend != 0; else noDeviation">({{summary.trend}}%)</span>
                <ng-template #noDeviation>
                    <span>(No Deviation)</span>
                </ng-template>
            </div>
            <div class="stat-label" *ngFor="let label of formatKpiLabel(summary.connectedDeviceLabel)">
                {{label}}
            </div>
        </div>
    </div>
</div>