.high-pixels {
    font-size: 20px;
    margin-top: 0;
}

.subHeader {
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
}

.stat-info {
    padding-left: 3% !important;
} 

.stat-info sup {
    font-size: 12px;
}

.vertical-line {
    border-left: 1px solid #333;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
}

.stat-box {
    padding-top: 15px;
}
.stat-box:nth-child(2), .stat-box:nth-child(3) {
    padding-top: 0;
    border: none;
}

.globe {
    margin-top: -145px;
}

.trend-indicator {
    font-size: 12px;
}

.trend-indicator i {
    margin-right: 5px;
}

.stat-filter {
    bottom: 20em;
    padding-left: 3% !important;
}

.material-dropdown {
    width: 125px;
}

.material-dropdown button, .material-dropdown .dropdown-menu  {
    font-size: 12px;
    width: 125px !important;
}

.material-dropdown .caret {
    bottom: 7px;
}

.zoom-buttons {
    position: absolute;
    bottom: 21.5em;
    right: 25px;
}
.zoom-buttons button {
    background-color: #222;
    color: #c5c5c5;
}
.zoom-buttons button:first-child {
    border-bottom: 1px solid #555;
}
.zoom-buttons button:focus {
    outline: none;
}

@media only screen and (max-width: 320px)
{
    .stat-label {
        font-size: 12px;
    }
}