.circle {
    text-align: center;
    font-size: x-large;
    background-color: #303030;
    border-radius: 50%;
    padding: 5px;
}

.release-text {
    color: #fff;
    padding-top: 20px;
}

.thin-progress {
    height: 12px;
    border-radius: 8px;
    background-color: #303030;
}

.plan-text {
    margin-left: 45%;
    color: #fff;
    margin-top: -15px;
    /* margin-bottom: 2.5vh; */
    /* margin-bottom: 7vh; */
}

.progress-label {
    color: #1792E5;
    margin-top: -10px;
    margin-left: -8px;
    display: inline-block;
}

.progress-unit {
    color: #1792E5;
    top: -.8em;
}

.white-space {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-height: 1080px) and (max-height: 2160px) {
    .prod-chip {
        font-size: 20px !important;
    }

    .platform-label {
        font-size: 24px !important;
    }

    .thin-progress {
        height: 16px;
    }
}

@media only screen and (min-height: 2161px) and (max-height: 4320px) {
    .prod-chip {
        font-size: 20px !important;
    }
}

.line {
    margin-bottom: 6vh;
}

.min-view {
    color: #1792E5;
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
    .line {
        margin-bottom: 2.5vh;
    }
    .platform-label {
        font-size: 14px;
    }
}

.unit-right {
    position: relative;
    right: 15px;
}

.platform-label {
    padding-left: 18px;
}

/* product live chip */

.prod-chip-container {
    padding-left: 20px;
    top: -20px;
    position: relative;
}

.prod-chip {
    display: block;
    padding: 0 5px;
    font-size: 16px;
    /* border-left: 1px solid #333; */
}

/* .prod-chip:first-child {
    border: none;
    padding-left: 0;
} */

.prod-chip .prod-label {
    color: #fff;
}

.prod-chip .prod-value {
    color: #1792E5;
}
