<div class="row">
  <div class="col-xs-12  text-white no-padding">
    <h2 class="subHeader">Platform Status</h2>
  </div>
</div>

<div class="row text-white">
  <h4>Alert Volume</h4>
</div>
<div class="row">
  <app-sparkline [data]="alertVolumeModel" [options]="chartOptions" [width]="'100%'" [height]="130"></app-sparkline>
</div>
<div class="row text-white white-space ">
  <h4 class="head-second">Sentience Health</h4>
</div>
<div class="row spacing-up">
  <div class="col-xs-4 pull-left" *ngFor="let prod of sentianceHealths; let i = index" [ngClass]="{'col-xs-4': i === 0, 'col-xs-8': i === 1}">
    <div class="col-xs-2 no-padding fixed-width-status" [ngClass]="{'col-lg-1': isFullscreenView, 'col-lg-2': !isFullscreenView}">
      <div class="progress-status" [ngClass]="setProgressStatus(prod.sla, false)"></div>
    </div>
    <div class="col-xs-10 no-padding" [ngClass]="{'col-lg-11': isFullscreenView, 'col-lg-10': !isFullscreenView}">
      <span class="text-det first-change" [ngClass]="setProgressStatus(prod.sla, true)" appCountup [endVal]="prod.sla" duration="0.5"
        decimals="1"></span>&nbsp;
      <sup class="first-changes" [ngClass]="setProgressStatus(prod.sla, true)">%</sup>
      <br>
      <span class="text-det-normal">{{prod.productName}}</span>
    </div>
  </div>
</div>
<div class="row text-white white-space">
  <h4>Cloud Services</h4>
</div>
<div class="row spacing-up">
  <div class="col-xs-4 pull-left" *ngFor="let cloud of cloudServiceModel; let i = index">
    <div class="col-xs-2 no-padding fixed-width-status" [ngClass]="{'col-lg-1': isFullscreenView, 'col-lg-2': !isFullscreenView}">
      <div class="progress-status" [ngClass]="setProgressStatus(cloud.cloudServicePercentage, false)"></div>
    </div>
    <div class="col-xs-10 no-padding" [ngClass]="{'col-lg-11': isFullscreenView, 'col-lg-10': !isFullscreenView}">
      <span class="text-det first-change" [ngClass]="setProgressStatus(cloud.cloudServicePercentage, true)" appCountup [endVal]="cloud.cloudServicePercentage"
        duration="0.5" decimals="1"></span>&nbsp;
      <sup class="first-changes" [ngClass]="setProgressStatus(cloud.cloudServicePercentage, true)">%</sup>
      <br>
      <span class="text-det-normal">{{cloud.cloudServiceName}}</span>
    </div>
  </div>
</div>
<div class="row text-white white-space">
  <h4 class="head-second">Network Availability</h4>
</div>
<div class="row spacing-up list-view">
  <div class="col-xs-4" *ngFor="let network of networkServiceModel; let j = index">
    <i class="status-icon" [ngClass]="(network.currentStatus != 'Warning') ? 'fa fa-circle' : 'fa fa-exclamation-circle'" [ngStyle]="{'color':network.currentStatus === 'Warning' ? '#FFC627' : '#00FF7F' }"
      aria-hidden="true"></i>
    <span class="text-det-normal" [ngStyle]="{'color':network.currentStatus === 'Warning' ? '#FFC627' : '#00FF7F' }">{{network.region}}</span>
  </div>
</div>