.check-mark {
    color: #00FF7F;
    font-size: 40px;
    padding-top: 15px;
}

.status-text {
    color:#00FF7F;
}


.font-cust {
    color: #fff;
    font-size: 25px;
}

.sparkline {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
}

.text-det {
    color: #1792E4;
    font-size: 20px;
}

.text-det-normal {
    color: #ffffff;
    font-size: 16px;
    
}

.progress {
    border-radius:10px;
    background-color:#303030;
    height:5px;
}

.status-icon {
    font-size: 7px;
    margin-right: 15px;

    
}
.list-view{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: nowrap;
    
}
.text-white{
    padding-left: 15px;

}

.white-space {
    margin-top: 0.5vh;
}

.shift-circle {
    font-size: 30px;
    margin-top: 10px;
}

.progress-status {
    width: 0.35vw;
    height: 45px;
    background-color: #00FF7F;
    display: inline-block;
}

.progress-value {
    display: inline-block;
}

.fixed-width-status {
    width: 12px !important;
}

.subHeader{
    text-align: center;
    font-size: 20px;
    margin-top: 10px !important;
    margin-bottom: 30px;
}

@media only screen and (min-width: 2400px) {
    .fixed-width-status {
        width: 25px !important;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1025px) {
    .shift-circle {
        margin-left: 15px;
        font-size: 22px;
    }
    .blank-space{
        margin-bottom: -12px;
    
    }
    .reduce-space{
        margin-bottom: -25px;
    }
  
    .spacing-up{
      margin-bottom: -10px;
    }
    .fixed-width-status {
        width: 7px !important;
    }
    .text-det-normal {
        font-size: 12px;
    }
   .first-changes{
       font-size: 11px;
   }

  
}

@media only screen and (min-height: 760px) and (max-height: 1080px) {
    .white-space {
        margin-top: 4vh;
    }
}

@media only screen and (min-height: 1080px) and (max-height: 2160px) {
    .white-space {
        margin-top: 8vh;
    }
}

@media only screen and (min-height: 2161px) and (max-height: 4320px) {
    .white-space {
        margin-top: 24vh;
    }
}

@media only screen and (min-width: 760px) and (max-width: 900px) {

    .text-det-normal {
        font-size: 10px;
    }
    .fixed-width-status {
        width: 6px !important;
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
    .first-change
    {
        font-size: 14px;
    }
    .fixed-width-status {
        width: 4px !important;
    }
    .text-det-normal {
        font-size: 10px;
    }
}