<div>
  <app-connected-devices *ngIf="activeSlide === 0" [isBigScreen]="isBigScreen"></app-connected-devices>
  <!-- <app-regional-view *ngIf="activeSlide === 1"></app-regional-view> -->
</div>
<!-- <div class="slide-selectors">
  <div (click)="enableSlide(0)" [ngClass]="{'active': activeSlide === 0}"></div>
  <div (click)="enableSlide(1)" [ngClass]="{'active': activeSlide === 1}"></div>
</div> -->