<div class="main-container container-fluid max-height">
  <router-outlet></router-outlet>

  <!-- popup for mobile -->
  <div #popup class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{msg}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeModal()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>