<div class="row">
    <div class="col-xs-12 text-white no-padding line">
        <h2 class="plat-view">Platform Status</h2>
    </div>
    <!-- <div class="col-xs-5">
        <div class="pull-right text-center">
            <i class="fa fa-check check-mark" aria-hidden="true"></i>
            <br>
            <span class="status-text" aria-hidden="true">STATUS</span>
        </div>
    </div> -->
</div>

<div class="row text-white">
    <h4>Alert Volume</h4>
</div>
<div class="row">
    <app-sparkline [data]="alertVolumeModel" [options]="chartOptions" [width]="'100%'" [height]="130"></app-sparkline>
</div>
<div class="row text-white white-space ">
    <h4 class="head-second">Sentience Health</h4>
</div>
<div class="row spacing-up">
    <div class="col-xs-4 pull-left" *ngFor="let prod of sentianceHealths; let i = index" [ngClass]="{'col-xs-4': i === 0, 'col-xs-8': i === 1}">
        <div class="col-xs-2 no-padding fixed-width-status" [ngClass]="{'col-lg-1': isFullscreenView, 'col-lg-2': !isFullscreenView}">
            <div class="progress-status" [ngClass]="setProgressStatus(prod.sla, false)"></div>
        </div>
        <div class="col-xs-10 no-padding" [ngClass]="{'col-lg-11': isFullscreenView, 'col-lg-10': !isFullscreenView}">
            <span class="text-det first-change" [ngClass]="setProgressStatus(prod.sla, true)" appCountup [endVal]="prod.sla" duration="0.5" decimals="1"></span>&nbsp;<sup class="first-changes" [ngClass]="setProgressStatus(prod.sla, true)">%</sup>
            <br>
            <span class="text-det-normal">{{prod.productName}}</span>
        </div>
    </div>
</div>
<div class="row text-white white-space">
    <h4>Cloud Services</h4>
</div>
<div class="row spacing-up">
    <div class="col-xs-4 pull-left" *ngFor="let cloud of cloudServiceModel; let i = index">
        <!-- <div class="col-xs-2 col-md-12 no-padding" [ngClass]="{'col-lg-1': isFullscreenView, 'col-lg-2': !isFullscreenView}">
            <i class="fa fa-circle shift-circle" [ngClass]="setProgressStatus(cloud.cloudServicePercentage)" aria-hidden="true"></i> 
        </div>
        <div class="col-xs-10 col-md-12" [ngClass]="{'col-lg-11': isFullscreenView, 'col-lg-10': !isFullscreenView}">
            <span class="text-det first-change" [ngClass]="setProgressStatus(cloud.cloudServicePercentage)" appCountup [endVal]="cloud.cloudServicePercentage" duration="0.5" decimals="1"></span>&nbsp;<sup class="first-change" [ngClass]="setProgressStatus(cloud.cloudServicePercentage)">%</sup>
            <br>
            <span class="text-det-normal">{{cloud.cloudServiceName}}</span>
        </div>        -->
        
        <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width':cloud.cloudServicePercentage + '%','background-color':cloud.currentStatus === 'Warning' ? '#FFC627' : '#1792E5' }"></div>
        </div> -->
        <div class="col-xs-2 no-padding fixed-width-status" [ngClass]="{'col-lg-1': isFullscreenView, 'col-lg-2': !isFullscreenView}">
            <div class="progress-status" [ngClass]="setProgressStatus(cloud.cloudServicePercentage, false)"></div>
        </div>
        <div class="col-xs-10 no-padding" [ngClass]="{'col-lg-11': isFullscreenView, 'col-lg-10': !isFullscreenView}">
            <span class="text-det first-change" [ngClass]="setProgressStatus(cloud.cloudServicePercentage, true)" appCountup [endVal]="cloud.cloudServicePercentage" duration="0.5" decimals="1"></span>&nbsp;<sup class="first-changes" [ngClass]="setProgressStatus(cloud.cloudServicePercentage, true)">%</sup>
            <br>
            <span class="text-det-normal">{{cloud.cloudServiceName}}</span>
        </div>
    </div>
</div>
<div class="row text-white white-space">
    <h4 class="head-second">Network Availability</h4>
</div>
<div class="row spacing-up">
    <div class="col-xs-4" *ngFor="let network of networkServiceModel; let j = index">
        <i class="status-icon" [ngClass]="(network.currentStatus != 'Warning') ? 'fa fa-circle' : 'fa fa-exclamation-circle'" [ngStyle]="{'color':network.currentStatus === 'Warning' ? '#FFC627' : '#00FF7F' }" aria-hidden="true"></i> 
        <span class="text-det-normal" [ngStyle]="{'color':network.currentStatus === 'Warning' ? '#FFC627' : '#00FF7F' }">{{network.region}}</span>
    </div>
</div>
<!-- <div class="row text-white white-space">
    <h4>Jira Service Desk Tickets</h4>
</div>
<div class="row spacing-up">
    <div class="col-xs-4" *ngFor="let ticket of ticketServiceModel; let j = index">
        <span class="text-det">{{ticket.summaryValue}}</span>
        <br>
        <span class="text-det-normal">{{ticket.summaryDetails}}</span>
    </div>
</div> -->