<div>
  <h1 style="color:white;"><u>Upload data</u></h1>
</div>
<div style="margin-top:25px;" >
  <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="upload" />
</div>
<div style="margin-top:25px;"  *ngIf="uploadStatus">   
  <img  *ngIf="uploadCD" style="width:100px" height="100" src="../../../assets/images/loader2.gif" />
  <label *ngIf="uploadCD" style="color:white;">Uploading Conneceted Device data</label> 
  <img *ngIf="!uploadCD" style="width:50px" height="50" src="../../../assets/images/checkMark.png" />
  <label *ngIf="!uploadCD" style="color:white;">Sucessfully Updated Conneceted Device data</label> 
</div>
<div style="margin-top:25px;" *ngIf="uploadStatus">
  <img *ngIf="uploadCD" style="width:100px" height="100" src="../../../assets/images/loader2.gif" />
  <label *ngIf="uploadCD" style="color:white;">Uploading Outage Device data</label>
  <img *ngIf="!uploadCD" style="width:50px" height="50" src="../../../assets/images/checkMark.png" />
  <label *ngIf="!uploadCD" style="color:white;">Sucessfully Updated Outage Device data</label>
</div>
<div style="margin-top:25px;" *ngIf="uploadStatus">
  <img *ngIf="uploadCD" style="width:100px" height="100" src="../../../assets/images/loader2.gif" />
  <label *ngIf="uploadCD" style="color:white;">Uploading Platform Utilization Data</label>
  <img *ngIf="!uploadCD" style="width:50px" height="50" src="../../../assets/images/checkMark.png" />
  <label *ngIf="!uploadCD" style="color:white;">Sucessfully Updated Platform Utilization Data</label>
</div>


