/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(20, 20, 20, 0.9); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: 1px solid #222;
}

/* The navigation menu links */
.sidenav a {    
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    text-decoration: none;
}

.sidenav a div {
    margin: 0 15px;
    padding: 12px 0;
    font-size: 20px;
    color: #ccc;
    position: relative;
}

.sidenav a:nth-child(2) div {
    border-bottom: 0.5px solid #555;
}

.sidenav a div i {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 14px;
    color: #555;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #c92b1f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    color: #ccc;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.sidenav-body {
    transition: margin-left .5s;
    padding: 50px 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.main-container {
    padding: 0 !important;
}

.brand-logo {
    height: 45px;
    margin: 0 auto;
    display: block;
}

.fa-bars {
    position: absolute;
    font-size: 24px;
    margin: 10px;
    color: #ccc;
    cursor: pointer;
}

.foot-logo {
    position: absolute;
    height: 24px;
    bottom: 20px;
    width: 100%;
    background-image: url('assets/images/Honeywell-logo-2015_RGB_Red-sm.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: center;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}