<div (click)="closeNav()" class="max-height">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <i class="fa fa-bars" (click)="openNav($event)"></i>
    <img class="brand-logo" src="assets/images/Honeywell-logo-2015_RGB_Red-sm.png" />
  </nav>

  <div #sidenav class="sidenav">
    <span class="closebtn">&times;</span>
    <a *ngFor="let nav of navs" routerLink="{{nav.route}}">
      <div>
        {{nav.label}}
        <i class="glyphicon glyphicon-menu-right"></i>
      </div>
    </a>  
    <div class="foot-logo"></div>
  </div>

  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div class="sidenav-body">
    <router-outlet></router-outlet>
  </div>
</div>